<div id="categories">
  <p>Productos de la categoria: </p>

  <div id="buscador" class="input-group mb-3">
    <button type="button"  class="btn btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false">
      Categorias
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
    <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
    <button type="button" class="btn btn-outline-secondary">Buscar</button>
  </div>
</div>

<div class="container" id="productos">

  <div *ngFor="let album of albums" class="card" style="width: 18rem;">
    <img src="{{album.imageURL}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{album.author}} | ${{album.price}}</h5>
      <p class="card-text">{{album.about}}</p>
      <a (click)="show(true, album)" class="btn btn-primary">Detalles</a>
    </div>
  </div>

</div>

<div class="container" id="Popup">
  <div class="card" style="width: 18rem;">
    <img id="cover" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" id="title"></h5>
      <p class="card-text" id="about"></p>
      <ul>
        <li *ngFor="let song of songs"><p class="card-text" id="songs">{{song}}</p></li>
      </ul>
      <div class="container" id="Popup-btns">
        <a (click)="show(false, 0)" class="btn btn-secondary">Cancelar</a>
        <a (click)="add()" class="btn btn-primary">Agregar</a>
      </div>
      </div>
  </div>

</div>
