
.header{
  color: aliceblue;
  display: flex;
  padding-top: 1%;
  position: sticky;
  background-color: black;
}
#saludo{
  width: 15%;
  text-align: center;
}
#total{
  width: 10%;
  margin-left: 75%;
  text-align:  center;
}
img{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
